{
  "openapi": "3.0.0",
  "info": {
    "title": "Jsearch",
    "version": "1.5.0",
    "description": "RapidAPI: letscrape-6bRBa3QguO5/jsearch"
  },
  "servers": [
    {
      "url": "https://jsearch.p.rapidapi.com"
    }
  ],
  "paths": {
    "/search": {
      "get": {
        "summary": "Job Search",
        "description": "Search for jobs posted on any public job site across the web on the largest job aggregate in the world (Google for Jobs). Extensive filtering support and most options available on Google for Jobs.",
        "operationId": "job_search",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": true,
            "description": "Free-form jobs search query. It is highly recommended to include job title and location as part of the query, see query examples below. Examples: web development jobs in chicago marketing manager in new york via linkedin",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Page to return (each page includes up to 10 results). Default: 1 Allowed values: 1-50",
            "schema": {
              "type": "string",
              "default": "1",
              "enum": null
            }
          },
          {
            "name": "num_pages",
            "in": "query",
            "required": false,
            "description": "Number of pages to return, starting from page. Default: 1 Allowed values: 1-50 Note: requests for more than one page and up to 10 pages are charged x2 and requests for more than 10 pages are charged 3x.",
            "schema": {
              "type": "string",
              "default": "1",
              "enum": null
            }
          },
          {
            "name": "country",
            "in": "query",
            "required": false,
            "description": "Country code of the country from which to return job postings. Please note that this parameter must be set in order to get jobs in a specific country, for example, to query for software developer jobs in Berlin, one should add country=de to the request - e.g. query=software+developers+in+berlin&country=de. Default: us Allowed values: See https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "language",
            "in": "query",
            "required": false,
            "description": "Language code in which to return job postings. Leave empty to use the primary language in the specified country (country parameter). Note that each country supports certain languages. In case a language not supported by the specified country is used, it is likely that no results will be returned. Allowed values: See https://en.wikipedia.org/wiki/List_of_ISO_639_language_codes",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "date_posted",
            "in": "query",
            "required": false,
            "description": "Find jobs posted within the time you specify. Default: all Allowed values: all, today, 3days, week, month",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "work_from_home",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "employment_types",
            "in": "query",
            "required": false,
            "description": "Find jobs of particular employment types, specified as a comma delimited list of the following values: FULLTIME, CONTRACTOR, PARTTIME, INTERN.",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "job_requirements",
            "in": "query",
            "required": false,
            "description": "Find jobs with specific requirements, specified as a comma delimited list of the following values: under_3_years_experience, more_than_3_years_experience, no_experience, no_degree.",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "radius",
            "in": "query",
            "required": false,
            "description": "Return jobs within a certain distance from location as specified as part of the query (in km). This internally sent as the Google \\\"lrad\\\" parameter and although it might affect the results, it is not strictly followed by Google for Jobs.",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "exclude_job_publishers",
            "in": "query",
            "required": false,
            "description": "Exclude jobs published by specific publishers, specified as a comma (,) separated list of publishers to exclude. Example: BeeBe,Dice",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "A comma separated list of job fields to include in the response (field projection). By default all fields are returned. Example: employer_name,job_publisher,job_title,job_country",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    },
    "/job-details": {
      "get": {
        "summary": "Job Details",
        "description": "Get all job details, including additional information such as: application options / links, employer reviews and estimated salaries for similar jobs.",
        "operationId": "job_details",
        "parameters": [
          {
            "name": "job_id",
            "in": "query",
            "required": true,
            "description": "Job Id of the job for which to get details. Batching of up to 20 Job Ids is supported by separating multiple Job Ids by comma (,). Note that each Job Id in a batch request is counted as a request for quota calculation.",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "country",
            "in": "query",
            "required": false,
            "description": "Country code of the country from which to return job posting. Default: us Allowed values: See https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "language",
            "in": "query",
            "required": false,
            "description": "Language code in which to return job postings. Leave empty to use the primary language in the specified country (country parameter). Allowed values: See https://en.wikipedia.org/wiki/List_of_ISO_639_language_codes",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "A comma separated list of job fields to include in the response (field projection). By default all fields are returned. Example: employer_name,job_publisher,job_title,job_country",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    },
    "/estimated-salary": {
      "get": {
        "summary": "Job Salary",
        "description": "Get estimated salaries / pay for a jobs around a location by job title and location. The salary estimation is returned for several periods, depending on data availability / relevance, and includes: hourly, daily, weekly, monthly, or yearly.",
        "operationId": "job_salary",
        "parameters": [
          {
            "name": "job_title",
            "in": "query",
            "required": true,
            "description": "Job title for which to get salary estimation.",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "location",
            "in": "query",
            "required": true,
            "description": "Free-text location/area in which to get salary estimation.",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "location_type",
            "in": "query",
            "required": false,
            "description": "Specify the type of the location you are looking to get salary estimation for additional accuracy. Allowed values: ANY, CITY, STATE, COUNTRY Default: ANY",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "years_of_experience",
            "in": "query",
            "required": false,
            "description": "Get job estimation for a specific experience level range (years). Allowed values: ALL, LESS_THAN_ONE, ONE_TO_THREE, FOUR_TO_SIX, SEVEN_TO_NINE, TEN_TO_FOURTEEN, ABOVE_FIFTEEN Default: ALL",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "A comma separated list of job salary fields to include in the response (field projection). By default all fields are returned. Example: job_title,median_salary,location",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    },
    "/company-job-salary": {
      "get": {
        "summary": "Company Job Salary",
        "description": "Get estimated job salaries/pay in a specific company by job title and optionally a location and experience level in years.",
        "operationId": "company_job_salary",
        "parameters": [
          {
            "name": "company",
            "in": "query",
            "required": true,
            "description": "The company name for which to get salary information (e.g. Amazon).",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "job_title",
            "in": "query",
            "required": true,
            "description": "Job title for which to get salary estimation.",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "location",
            "in": "query",
            "required": false,
            "description": "Free-text location/area in which to get salary estimation.",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "location_type",
            "in": "query",
            "required": false,
            "description": "Specify the type of the location you are looking to get salary estimation for additional accuracy. Allowed values: ANY, CITY, STATE, COUNTRY Default: ANY",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "years_of_experience",
            "in": "query",
            "required": false,
            "description": "Get job estimation for a specific experience level range (years). Allowed values: ALL, LESS_THAN_ONE, ONE_TO_THREE, FOUR_TO_SIX, SEVEN_TO_NINE, TEN_TO_FOURTEEN, ABOVE_FIFTEEN Default: ALL",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-RapidAPI-Key"
      }
    }
  },
  "security": [
    {
      "ApiAuth": []
    }
  ]
}